{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Obrazki creation</h1>

    {{ form(form) }}
    
    {% if formularz is defined %}
    <script type='text/javascript' >upload({{formularz}});</script>
     {% endif %}
    

        <ul class="record_actions">
    <li>
        <a href="{{ path('Obrazki') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
